page-payment-tabs {
    .tabs-md .tab-button[aria-selected=true] {
        //color: #fff; /*your  text color */
        //background: #808080; /* your background color*/
        border-bottom-color: #0E769B;
        border-bottom-width: 3px;
        border-bottom-style: solid;  
    }
}
