page-home {
    .vertical-align-content > *
    {
        display: flex!important;
        align-content: center!important;
    }
    [data-letters]:before {
        content:attr(data-letters);
        display:inline-block;
        font-size:1em;
        width:2.5em;
        height:2.5em;
        line-height:2.5em;
        text-align:center;
        border-radius:50%;
        background:plum;
        vertical-align:middle;
        margin-right:1em;
        color:white;
    
    }
    .date{
        color: grey;
        
    }
    .amount {
        color:#32db64;
        padding: 0px !important;
    }
    .payment {
        color: grey;
        padding: 0px !important;
    }

    .card-header  {
        border-bottom-color: lightgray;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .card-content-md {
        padding-bottom: 0px;
    }
    ion-card-content{
        border-bottom-color: rgba(lightgray,0.3);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        
    }
}
